header {
  /* background-color: #48e5c2; */
  background-image: linear-gradient(to right, #ffffff, #48e5c2);
  width: 100vw;
  height: 80px;
  display: flex;
  text-align: right;
  justify-content: space-between;
}
.boxout-logo {
  height: 80px;
  width: 160px;
  display: flex;
}
.boxin-logo {
  height: 80px;
  width: 80px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-image: url("../../Images/logo.png");
  background-size: cover;
}

.nav {
  display: flex;
  height: 80px;
  width: 500px;
  align-items: end;
}
ul {
  /* text-align: right; */
  height: 40px;
  width: 500px;
  text-align: center;

}
li {
  display: inline-block;
  text-align: center;
}
.nav-link {
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  margin: 0px;
  padding: 8px 10px;
  color: black;
  font-weight: bold;
  width: 70px;
text-align: center;
}
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  font-weight: bold;
}

/* Dimencionamento para telas de tablets ---------------------------------------------------------*/
@media (min-width: 481px) and (max-width: 769px) {
  /* todas as paginas********************************/
  header {
    height: 70px;
  }
  .boxout-logo {
    height: 70px;
    width: 120px;
  }
  .boxin-logo {
    height: 70px;
    width: 80;
  }
  .nav {
    height: 70px;
    width: 380px;
  }
  ul {
    height: 35px;
    width: 380px;
    margin-right: 10px;
  }
  .nav-link {
    font-size: 8px;
    padding: 7px 9px;
    width: 43px;
  }
}
/* Dimencionamento para telas de tablets ---------------------------------------------------------------------*/
@media (max-width: 480px) {
  header {
    width: 100vw;
    height: 50px;
  }
  .boxout-logo {
    height: 50px;
    width: 100px;
  }
  .boxin-logo {
    height: 50px;
    width: 64px;
  }
  .nav {
    display: none;
  }
}
